* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }

body {
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

#app-container {
  max-width: 960px;
  margin: auto; }

.bodybox {
  background: #69A77C;
  padding: 0;
  padding-top: 70px; }

.headertext {
  background: #fff;
  padding: 15px 45px; }
  @media screen and (min-width: 768px) {
    .headertext {
      margin: 0 70px; } }
  .headertext h1 {
    font-size: 20px; }
    @media screen and (min-width: 768px) {
      .headertext h1 {
        font-size: 32px;
        margin-bottom: 20px; } }
  .headertext p {
    font-size: 10px;
    color: gray; }
    @media screen and (min-width: 768px) {
      .headertext p {
        font-size: 12px;
        line-height: 1.5;
        margin: auto 80px;
        margin-bottom: 40px; } }

.middletext {
  padding: 15px 45px;
  margin: 0 20px; }
  .middletext h1 {
    font-size: 20px; }
  .middletext p {
    font-size: 10px;
    color: gray; }
  @media screen and (min-width: 768px) {
    .middletext {
      color: white;
      margin: 0 90px;
      margin-bottom: 30px; }
      .middletext p {
        color: white;
        margin: 0 60px;
        font-size: 12px; } }

.piccol {
  margin: auto;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .piccol {
      margin: 0 55px; } }
  .piccol .picnail {
    padding: 5px; }
    @media screen and (min-width: 768px) {
      .piccol .picnail {
        padding: 15px; } }
    .piccol .picnail > * {
      padding: 0;
      border: none; }
    .piccol .picnail p {
      font-size: 10px;
      line-height: 1.75; }
      .piccol .picnail p .picname {
        font-size: 14px; }
      .piccol .picnail p .atname {
        color: #7FF661; }
  .piccol > * {
    margin: auto;
    padding-top: 10px;
    width: 60%; }
    @media screen and (min-width: 768px) {
      .piccol > * {
        width: 100%; } }

.topbut {
  width: 45%;
  margin: auto;
  font-size: 65%;
  color: lightgray;
  border: 1px lightgray solid;
  background: #69A77C;
  margin-top: 20px;
  margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .topbut {
      width: 25%;
      font-size: 12px;
      height: 40px; } }

.botbutbox {
  background: url("/Users/victorcarpenter/TIY/Assignments/assignment-07/images/assets/solrod-drawingboard-background.jpg");
  background-size: cover; }
  .botbutbox .botbut {
    width: 90%;
    margin: 65px auto;
    height: 8%;
    background: #6a819e;
    border: none;
    border-radius: 5px; }
    @media screen and (min-width: 768px) {
      .botbutbox .botbut {
        width: 40%; } }

.footbar {
  background: #fff;
  margin: 0;
  width: 100%;
  border-radius: 0; }
  .footbar ul {
    list-style-type: none;
    text-align: left;
    padding-left: 10px; }
    @media screen and (min-width: 768px) {
      .footbar ul {
        text-align: right; } }
    .footbar ul li {
      width: 10%;
      display: inline-block;
      padding: 10px;
      color: gray; }
      @media screen and (min-width: 768px) {
        .footbar ul li {
          width: 5%; } }

.botpiccol {
  margin-bottom: 40px; }
  .botpiccol .pictitle {
    color: gray; }
  .botpiccol .picdesc {
    color: lightgray; }
  .botpiccol .picbotnail > * {
    padding: 0;
    border: none; }
  @media screen and (min-width: 768px) {
    .botpiccol {
      margin: 0 55px; } }

.middlepic {
  padding: 100px 50px;
  display: none;
  height: 475px; }
  @media screen and (min-width: 768px) {
    .middlepic {
      display: block;
      background: url(../images/assets/solrod-team-background.jpg) center center no-repeat;
      background-size: cover; } }
  .middlepic .imgcont {
    width: 40%;
    margin: auto; }
  .middlepic div img {
    margin: auto; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  max-width: 960px;
  z-index: 300;
  max-height: 40px; }
  @media screen and (min-width: 768px) {
    nav {
      left: initial; } }
  nav .hamburger-icon {
    color: white;
    width: 40px;
    height: 40px;
    background: #000;
    text-align: center;
    position: fixed;
    left: 20px;
    z-index: 300000; }
    @media screen and (min-width: 768px) {
      nav .hamburger-icon {
        display: none; } }
    nav .hamburger-icon i {
      line-height: 40px; }
  nav .navbutleft {
    padding-left: 0;
    margin-bottom: 0;
    max-height: 40px; }
  nav .navbutright {
    text-align: right;
    max-height: 40px; }
    nav .navbutright li {
      float: right;
      padding-top: 18px; }
  nav .navbut {
    list-style-type: none;
    width: 50%;
    font-size: 10px; }
    nav .navbut li {
      display: inline-block;
      color: lightgray;
      width: 15%;
      text-align: center; }
  nav .navbrand {
    max-width: 40px;
    padding: 5px;
    padding-top: none; }
    nav .navbrand ~ * {
      padding-top: 18px; }

.navbarbox {
  display: none;
  background: #000; }
  @media screen and (min-width: 768px) {
    .navbarbox {
      display: block; } }

/*# sourceMappingURL=styles.css.map */
