*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}
body {
   margin: 0;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   background: url(images/assets/nature-forest-trees-fog.jpeg) center center no-repeat;
   background-size: cover;
}

#app-container{
   max-width: 960px;
   margin:auto;

}
$nav-icon-width: 40px;

@mixin media-query($device-width){
   @media screen and (min-width: $device-width){
      @content;
   }
}

$tablet-screen: 768px;
$desktop-screen: 1024px;


.bodybox {
   background: #69A77C;
   padding: 0;
   padding-top: $nav-icon-width+30px;


}
.headertext{
   background: #fff;
   padding: 15px 45px;

   @media screen and (min-width: $tablet-screen) {
      margin: 0 70px;
   }
    h1 {
      font-size: 20px;
      @media screen and (min-width: $tablet-screen) {
         font-size: 32px;
         margin-bottom: 20px;
      }
   }
   p {
      font-size: 10px;
      color: gray;
      @media screen and (min-width: $tablet-screen) {
         font-size: 12px;
         line-height: 1.5;
         margin: auto 80px;
         margin-bottom: 40px;
      }
   }

}

.middletext {
   padding: 15px 45px;
   margin: 0 20px;
    h1 {
      font-size: 20px;
   }
   p {
      font-size: 10px;
      color: gray;
   }

   @media screen and (min-width: $tablet-screen) {
      color: white;
      margin: 0 90px;
      margin-bottom: 30px;
      p{
         color: white;
         margin: 0 60px;
         font-size: 12px;
      }
   }

}
.piccol {
   margin: auto;
   padding: 0;

   @media screen and (min-width: $tablet-screen) {
      margin:0 55px;
   }

   .picnail {
      padding: 5px;

      @media screen and (min-width: $tablet-screen) {
         padding: 15px;
      }
      > * {
         padding: 0;
         border: none;
      }
      p {
         font-size: 10px;
         line-height: 1.75;

         .picname {
            font-size: 14px;
         }
         .atname {
            color: #7FF661;
         }
      }
   }

    > * {
      margin: auto;
      padding-top: 10px;
      width: 60%;


      @media screen and (min-width: $tablet-screen) {
         width: 100%;
      }

   }
}
.topbut {
   width: 45%;
   margin: auto;
   font-size: 65%;
   color: lightgray;
   border: 1px lightgray solid;
   background: #69A77C;
   margin-top: 20px;
   margin-bottom: 30px;

   @media screen and (min-width: $tablet-screen) {
      width: 25%;
      font-size: 12px;
      height: $nav-icon-width;

   }


}

.botbutbox {
   background: url("/Users/victorcarpenter/TIY/Assignments/assignment-07/images/assets/solrod-drawingboard-background.jpg");
   background-size: cover;


   .botbut {
      width: 90%;
      margin: 65px auto;
      height: 8%;
      background: rgb(106, 129, 158);
      border: none;
      border-radius: 5px;

      @media screen and (min-width: $tablet-screen) {
         width: 40%;
      }


   }
}
.footbar {
   background: #fff;
   margin: 0;
   width: 100%;
   border-radius: 0;
   ul {
      list-style-type: none;
      text-align: left;
      padding-left: 10px;
      @media screen and (min-width: $tablet-screen) {
         text-align: right;
      }

      li {
         width: 10%;
         display: inline-block;
         padding: 10px;
         color: gray;

         @media screen and (min-width: $tablet-screen) {
            width: 5%;

         }
      }
   }
}
.botpiccol {
   margin-bottom: 40px;


   .pictitle {
      color: gray;
   }
   .picdesc {
      color: lightgray;
   }
   .picbotnail {

      > * {
         padding: 0;
         border: none;


      }
   }
   @media screen and (min-width: $tablet-screen) {
      margin: 0 55px;
   }
}
.middlepic {
   padding: 100px 50px;
   display: none;
   height: 475px;

   @media screen and (min-width: $tablet-screen) {
      display: block;
      background: url(../images/assets/solrod-team-background.jpg) center center no-repeat;
      background-size: cover;

   }

   .imgcont {
      width: 40%;
      margin: auto;
   }
   div {


      img {
         margin: auto;
      }
   }


}

nav {
   position: fixed;
   top: 0; left: 0;
   width: 100%;
   height: $nav-icon-width;
   max-width: 960px;

   z-index: 300;
   max-height: $nav-icon-width;


   @media screen and (min-width: $tablet-screen) {
      left: initial;
   }



   .hamburger-icon {
      color: white;
      width: $nav-icon-width;
      height: $nav-icon-width;
      background: #000;
      text-align: center;
      position: fixed;
      left: 20px;
      z-index: 300000;

      @media screen and (min-width: $tablet-screen) {
         display: none;
      }

      i {
         line-height: $nav-icon-width;
      }
   }
   .navbutleft {
      padding-left: 0;
      margin-bottom: 0;
      max-height: $nav-icon-width
   }
   .navbutright {
      text-align: right;
      max-height: $nav-icon-width;

      li {
         float:right;
         padding-top: 18px;

      }




   }
   .navbut {
      list-style-type: none;
      width: 50%;
      font-size: 10px;

      li {
         display: inline-block;
         color: lightgray;
         width:15%;
         text-align: center;

      }



   }
   .navbrand {
      max-width: $nav-icon-width;
      padding: 5px;
      padding-top: none;

      & ~ * {
         padding-top: 18px;
      }
   }
}

.navbarbox {
   display: none;
   background: #000;

   @media screen and (min-width: $tablet-screen) {
      display:block;
   }
}
